/*
body{

    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 20px 40px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
    
}
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(https://imgs.search.brave.com/lvSKvRxp8LuR73jEu50JQDRnlNZoFiIFKoj5IPZ_MTM/rs:fit:844:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5P/SHlWZklHZHFwcGJl/dWVSVng4YjZBSGFF/SyZwaWQ9QXBp);
    
    opacity: 30%;

}
header{
    margin: 1em auto;
    text-align: center;
}
form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
.survey-box{
    background-color: black;
    color: white;
}
.inline {
    vertical-align: middle;
}
*/