:root{
    --blue1: #0A2463;
    --blue2: #3E92CC;
    --white1: #FFFAFF;
    --pink1: #D8315B;
    --black: #1E1B18;
    --rainbow: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
    --gradientBlueBlack: linear-gradient( 45deg,var(--blue2), var(--black));
    --gradientWhiteBlue: linear-gradient(45deg,var(--white1),var(--blue2));
    --gradient1: linear-gradient(45deg,var(--pink1),var(--white1),var(--blue2));
    font-size: 100%;
}
@media (max-width: 75em) {
html {
    font-size: 60%;
}
}
body{
    background-image: var(--gradientWhiteBlue);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
header{
    background-color: var(--black);
    position: fixed;
    top: 0;
    width: 100%;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;  /*align header left*/
    margin: 0;
    padding: 0;
    padding-right: 1re;
}
nav li{
    list-style: none;
    padding: 1rem 1rem;
}
nav a{
    text-decoration: none;
    color: #D8315B;
    font-size: 1.7rem;
    text-align: center;
    font-weight: bold;
}
main{
    margin-top: 3.7rem;
}
#welcome-section{
    height: 45rem;
    background-image: var(--gradient1);
    color: var(--blue1);
    text-align: center;
    background-position: top right;
    background-size: 300%;
    animation: welcome-background 10s infinite alternate;
}
@keyframes welcome-background { /*lil animation to change the background in this section*/

    100%{
        background-position: bottom left;
    }
}
#welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#presentation{
    width: auto;
    margin: auto;
    color: var(--black);
    animation: rescale 0.3s forwards;
}
#presentation:hover{
    animation: scale150smooth 0.3s forwards;
}
@keyframes scale150smooth {
    100%{
        transform: scale(1.5);
        background: var(--rainbow);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
@keyframes rescale {
    0%{
        transform: scale(1.5);
        background: var(--rainbow);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100%{
        transform: scale(1);
    }
}
#presentation h1{
    font-size: 2rem;
    margin: 0;
}
#presentation h2{
    font-size: 1rem;
}
/*
@keyframes size-hover{
    100%{
        font-size: 150%;
    }
}*/
/*temp*/
p{
    font-size: 5rem;
}