:root{
    --blue1: #0A2463;
    --blue2: #3E92CC;
    --white1: #FFFAFF;
    --pink1: #D8315B;
    --black: #1E1B18;
    --rainbow: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
    --gradientBlueBlack: linear-gradient( 45deg,var(--blue2), var(--black));
    --gradientWhiteBlue: linear-gradient(45deg,var(--white1),var(--blue2));
    --gradient1: linear-gradient(45deg,var(--pink1),var(--white1),var(--blue2));
    --gradient2: linear-gradient(225deg,var(--pink1),var(--white1),var(--blue2));
    font-size: 100%;
    --grey: #BFC0C0;
    --orange: #EF8354;
    --gradientOrangeGrey: linear-gradient(45deg,var(--orange),var(--grey));
    --gradientGreyBlack: linear-gradient(45deg,var(--black),var(--grey));
}
@media (max-width: 75em) {
html {
    font-size: 60%;
}
}
body{
    background-image: var(--gradientWhiteBlue);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
header{
    background-color: var(--black);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;  /*align header left*/
    margin: 0;
    padding: 0;
    padding-right: 1re;
}
nav li{
    list-style: none;
    padding: 1rem 1rem;
}
nav a{
    text-decoration: none;
    color: #D8315B;
    font-size: 1.7rem;
    text-align: center;
    font-weight: bold;
}
main{
    margin-top: 3.7rem;
}
#welcome-section{
    height: 45rem;
    background-image: var(--gradient1);
    color: var(--blue1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-position: top right;
    background-size: 300%;
    animation: welcome-background 10s infinite alternate;
}
@keyframes welcome-background { /*lil animation to change the background in this section*/
    100%{
        background-position: bottom left;
    }
}
#presentation{
    width: auto;
    margin: auto;
    color: var(--black);
    animation: rescale-welcome 0.3s forwards;
}
#presentation:hover{
    animation: scale150-welcome 0.3s forwards;
}
@keyframes scale150-welcome {
    100%{
        transform: scale(1.5);
        background: var(--gradientBlueBlack);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
@keyframes rescale-welcome {
    0%{
        transform: scale(1.5);
        background: var(--gradientBlueBlack);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100%{
        transform: scale(1);
    }
}
#presentation h1{
    font-size: 2rem;
    margin: 0;
}
#presentation h2{
    font-size: 1rem;
}
#skills{
    background-image: var(--gradientGreyBlack);
    color: var(--pink1);
    text-align: center;
    margin: 0;
    padding: 1rem 0 1.7rem 0;    
}
#skills h6{
    font-size: 2.7rem;
    padding-bottom: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#skill-grid{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.skill-item{
    background-color: var(--blue1);
    margin: 1.2rem 1.8rem 2rem 1.8rem;
    padding: auto;
    width: 11rem;
    animation: rescale-skill 0.5s forwards;
}
.skill-item:hover{
    animation: scale-skill 0.5s forwards;
}
@keyframes scale-skill {
    100%{
        transform: scale(1.15);
    }
}
@keyframes rescale-skill {
    0%{
        transform: scale(1.15);
    }
    100%{
        transform: scale(1);
    }
}
.skill-item img{
    padding-top: 2rem;
    object-fit: fill;
    width: 6rem;
    height: 6rem;
}
#projects{
    background-image: var(--gradientGreyBlack);
    color: var(--pink1);
    text-align: center;
    margin: 0;
    padding: 1rem 0 1.7rem 0;    
}
#project-grid{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.project-item{
    background-color: var(--blue1);
    margin: 1.2rem 1.8rem 2rem 1.8rem;
    padding: auto;
    width: 11rem;
    animation: rescale-skill 0.5s forwards;
}
.project-item:hover{
    animation: scale-skill 0.5s forwards;
}
/*temp*/
p{
    font-size: 5rem;
}